body {
    background-image: url(../img/bg-1900w.jpg);
    background-size: cover;
    background-position: bottom;
}

@media (min-width: 800px) {
    body {
        background-position: center;
    }
}

hr {
    width: 10vw;
    margin-top: 2em;
}

#app>* {
    grid-column: 2 / -2;
}

.loader-icon {
    width: 4rem;
    margin: 0 auto;
}

@media (min-width: 800px) {

    #app>* {
        grid-column: 3 / -3;
    }

}